@font-face {
    font-family: "Undertale Font";
    src: url('assets/undertale.ttf');
}

* {
    font-family: "Undertale Font";
}

body {
    background-color: #000000;
    font-family: monospace;
    color: #0f0;
    cursor: none;
}

body::-webkit-scrollbar {
    display: none;
}

#msg {
    font-size: 40px;
}

#dialogs {
    color: #fff;
}

#part1, #part2, #part3, #part4, #part5, #part6, #part1BadTom, #part2BadTom, #part3BadTom {
    font-size: 50px;
    color: #f00;
}

#part4, #part5 {
    display: none;
}

#lifeBar {
    width: 300px;
    height: 85px;
}

#sans {
    width: 300px;
    height: 300px;
}

#border, #border1 {
    z-index: 100;
}

#heart {
    z-index: 100;
    width: 30px;
    height: 30px;
}

#fight {
    display: none;
    cursor: pointer; 
}