body {
    background-color: #000000;
    font-family: monospace;
    color: #0f0;
}

.principal-page {
    font-size: 20px;
    padding: 20px;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.strong-box {
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.links {
    position: relative;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: #0f0;
    font-size: 30px;
    top: -180px;
}

#passwordInput {
    /* poner esto encima del img */
    position: relative;
    top: -295px;
    left: 78px;
    padding: 20px;
    width: 155px;
    border: 5px solid #000;
    border-radius: 20px;
}

#accessButton {
    position: relative;
    top: -390px;
    right: 110px;
    font-size: 80px;
    height: 120px;
    background-color: transparent;
    border: none;

    cursor: pointer;
}