body {
    font-size: 45px;
}

#response, #response2, #response3 {
    font-size: 40px;
    width: 30px;
}

#validate, #validate2, #validate3 {
    font-size: 40px;
}

input {
    cursor: pointer;
}

#secondProblem, #thirdProblem, #fourthProblem, #fifthProblem {
    display: none;
}